{% extends "page.html" %}
{% block title%}Register{% endblock %}
{% block content %}
<div>
  <h2>Register</h2>
  <form method="POST" >
    <div class="input">
      <label for="username">Username</label>
      <input type="text" name="username" />

    </div>
    <div class="input">
      <label for="password">Password</label>
      <input type="password" name="password" />
    </div>
    <div class="actions">
      <input type="submit" value="Register" />
    </div>
  </form>
</div>
{% endblock %}
