{% extends "page.html" %}
{% block title %}{{thing.name or thing.title}}{% endblock %}

{% block content %}
<article class="thing thing-{{thing.type}}" data-id="{{thing.id}}">
  <header>
  <a href="/t/{{thing.id}}.html" rel="self"><h2>{{thing.name or thing.title | e}}</h2></a>
  {% if thing.type == "topic" %}
  {% set op = thing.original_post %}
  Topic created by <a data-id="{{op.poster_uid}}" href="/u/{{op.poster_uid}}.html">{{op.poster_name | e}}</a> 
  {% if op.pubdate %}
  <time pubdate="1" datetime="{{op.pubdate.isoformat()}}">{{op.pubdate | nicedate}}</time>
  {% endif %}
  </header>
  <div>
    {% if op.text %}
    <div>{{op.text | markdown}}</div>
    {% endif %}

  {% else %}
  </header>
  {% endif %}
  {% if thing.contents is defined %}
  {% for sub in thing.contents %}
  <article data-id="{{sub.id}}">
    {% if sub.type == "post" %}
    {% include 'topic_post.html' %}
    {% elif sub.type == "topic" %}
    {% include 'category_topic.html' %}
    {% endif %}
  </article>
  {% endfor %}
  {% if user is defined %}
  {% if thing.type == "topic" %}
  <form action="/new_post" method="post">
    <legend>Reply to this topic</legend>
    <input type="hidden" value="{{ thing.id }}" name="tid" />
    <div class="input">
      <label for="text">Text</label>
      <textarea name="text"></textarea>
    </div>
    <div class="actions">
      <input type="submit" value="Post" />
    </div>
    
  </form>
  {% elif thing.type == "category" %}
  <form action="/new_topic" method="post">
    <legend>Create topic</legend>
    <input type="hidden" name="tid" value="{{thing.id}}" />
    <div class="input">
      <label for="title">Title</label>
      <input type="text" name="title" />
    </div>
    <div class="input">
      <label for="text">Text</label>
      <textarea name="text"></textarea>
    </div>
    <div class="actions">
      <input type="submit" value="Post" />
    </div>
  </form>
  {% endif %}
  {% endif %}

  {% endif %}

</article>
{% endblock %}
