{% extends "page.html" %}
{% block title %}{{thing.name or thing.title}}{% endblock %}

{% block content %}
<article class="thing thing-{{thing.type}}" data-id="{{thing.id}}">
  <header>
  <a href="/t/{{thing.id}}.html" rel="self"><h2>{{thing.name or thing.title | e}}</h2></a>
  {% if thing.type == "topic" %}
  {% set op = thing.original_post %}
  <p>Topic created by <a data-id="{{op.poster_uid}}" href="/u/{{op.poster_uid}}.html">{{op.poster_name | e}}</a>
  {% if op.pubdate %}
  <time pubdate="1" datetime="{{op.pubdate.isoformat()}}">{{op.pubdate | nicedate}}</time>
  {% endif %}
  </p>
  </header>
    {% if op.text %}
    <div class="op">{{op.text | markdown}}</div>
    {% endif %}

  {% else %}
  </header>
  {% endif %}
  {% if thing.contents is defined %}
  {% for sub in thing.contents %}
  <article data-id="{{sub.id}}">
    {% if sub.type == "post" %}
    {% include 'topic_post.html' %}
    {% elif sub.type == "topic" %}
    {% include 'category_topic.html' %}
    {% endif %}
  </article>
  {% endfor %}
  {% if not user is defined %}
  <p>You need to login in order to post</p>
  {% elif thing.type == "topic" %}
  {% include "form_new_post.html" %}
  {% elif thing.type == "category" %}
  {% include "form_new_topic.html" %}
  {% endif %}


  {% endif %}

</article>
{% endblock %}
